<h1>{{ perfil.nombres}} {{ perfil.apellidos}}</h1>
<p>{{ perfil.descripcion }}</p>

<h2>🎓 Cursos Realizados</h2>
{% for curso in cursos %}
    <div>
        <strong>{{ curso.nombrecurso }}</strong><br>
        {{ curso.fechainicio }} - {{ curso.fechafin }} ({{ curso.totalhoras }} horas)<br>
        {{ curso.entidadpatrocinadora }}
    </div>
{% empty %}
    <p>No hay cursos realizados.</p>
{% endfor %}

<h2>🏆 Reconocimientos</h2>
{% for r in reconocimientos %}
  <div>
    <strong>{{ r.tiporeconocimiento }}</strong><br>
    {{ r.descripcionreconocimiento }}<br>
    {{ r.entidadpatrocinadora }}
  </div>
{% empty %}
  <p>No hay reconocimientos</p>
{% endfor %}