<!DOCTYPE html>
<html>
<head>
    <title>Datos Personales</title>
</head>
<body>

<h1>DATOS PERSONALES</h1>

<p><strong>Apellidos:</strong> {{ datos.apellidos }}</p>
<p><strong>Nombres:</strong> {{ datos.nombres }}</p>
<p><strong>Nacionalidad:</strong> {{ datos.nacionalidad }}</p>
<p><strong>Lugar de nacimiento:</strong> {{ datos.lugarnacimiento }}</p>
<p><strong>Fecha de nacimiento:</strong> {{ datos.fechanacimiento }}</p>
<p><strong>Cédula:</strong> {{ datos.numerocedula }}</p>
<p><strong>Sexo:</strong> {{ datos.sexo }}</p>
<p><strong>Estado civil:</strong> {{ datos.estadocivil }}</p>
<p><strong>Licencia de conducir:</strong> {{ datos.licenciaconducir }}</p>

<p><strong>Teléfono convencional:</strong> {{ datos.telefonoconvencional }}</p>
<p><strong>Teléfono fijo:</strong> {{ datos.telefonofijo }}</p>

<p><strong>Dirección trabajo:</strong> {{ datos.direcciontrabajo }}</p>
<p><strong>Dirección domiciliaria:</strong> {{ datos.direcciondomiciliaria }}</p>

<p><strong>Sitio web:</strong> {{ datos.sitioweb }}</p>

</body>
</html>
