<section>
    <h2>Datos Personales</h2>
    <div class="item"><strong>Nacionalidad:</strong> {{ perfil.nacionalidad }}</div>
    <div class="item"><strong>Lugar de nacimiento:</strong> {{ perfil.lugarnacimiento }}</div>
    <div class="item"><strong>Fecha de nacimiento:</strong> {{ perfil.fechanacimiento }}</div>
    <div class="item"><strong>Estado civil:</strong> {{ perfil.estadocivil }}</div>
    <div class="item"><strong>Dirección:</strong> {{ perfil.direcciondomiciliaria }}</div>
</section>
